/*



Theme Name: Impulsifix

Theme URI: http://impulsifix.com.br

Author: HC Desenvolvimentos

Author URI: http://hcdesenvolvimentos.com.br;

Description: Descrção do thema.

Version: 1.0

License: GNU General Public License v2 or later

License URI: http://www.gnu.org/licenses/gpl-2.0.html

Text Domain: impulsifix

Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.



--------------------------------------------

ESTRUTURAÇÃO BASE (Palupa Framework v1)

--------------------------------------------

*** BODY

**** TOPO

**** RODAPÉ

**** COPYRIGHT

**** ESTILOS GERAIS PARA AS PÁGINAS

**** PÁGINAS

**** EXTRAS

**** VARIÁVEIS

**** @MEDIA



font-family: 'PT Sans Caption', sans-serif;

font-family: 'Open Sans', sans-serif;



*/



 /*PÁGINA INICIAL*/

  @import url("css/pg-inicial.css");



  /*PÁGINA SOBRE*/

  @import url("css/pg-sobre.css");



  /*PÁGINA SERVIÇOS*/

  @import url("css/pg-servicos.css");



  /*PÁGINA CONTATO*/

  @import url("css/pg-contato.css");

  

  /*PÁGINA PLANOS*/

  @import url("css/pg-planos.css");



  /*PÁGINA TRABALHE CONOSCO*/

  @import url("css/pg-prestador-servico.css");

   /*PÁGINA DE SERVIÇO*/

  @import url("css/pg-servico.css");



  *{

    margin: 0;

    padding: 0;

  }

  ul{

    padding: 0;

    list-style: none;

    margin:0;

  }

  .travScroll{

    overflow: hidden;

  }





  /*VARIÁVEIS*/

    :root{

      

      /*CORES*/

      --azulPrincipal: #043089;

      --laranjaPrincipal: #FFA000;

      --pretoPrincipal: #383838;

      --verdePrincipal: #57BB63;

      --colorTextoPrincipal: ;

      --colorBtnsPrincipal: ;



      /*FONTS*/

      --ptSansCaption: 'PT Sans Caption', sans-serif;

      --openSans: 'Open Sans', sans-serif;



      /*FONTS SIZE*/

      --fontSizePrincipal:14px; 

      --fontSizeTitulos: 30px; 

      --fontSizeTitulosMenor: 30px; 

    }





  /*BODY*/

    body{



    }

  

  /*TOPO*/

    header.topo{

		padding: 35px 10px 0;
		position: absolute;
		top:0;
		display: block;
		width: 100%;
		left: 0;
		z-index: 999;

    }

      header.topo figure{

		display: inline-block;
		vertical-align: top;
		position: relative;
		top: -12px;

      }

        header.topo figure img{

			max-width: 166px;
			width: 100%;
			display: block;

        }

        header.topo figure figcaption{

          display: none;

        }

      header.topo button{
		z-index: 9;
        font-family:var(--openSans);

        font-style: normal;

        font-weight: bold;

        font-size: 20px;

        line-height: 17px;

        color: #383838;

        mix-blend-mode: normal;

        opacity: 0.5;

        background: transparent;

        border: none;

        outline: none;

        text-decoration: underline;

        margin-right: 30px;

        display: none;
        vertical-align: top;
		position: relative;
		top: 25px;

      }
      	header.topo button span{
			background: #383838;
			width: 24px;
			height: 2px;
			display: block;
			margin-bottom: 5px;
      	}

      header.topo nav{

		display: inline-block;
		margin-left: 25px;
		vertical-align: top;
		padding-top: 10px;

      }

        header.topo nav img{

          display: none;

        }

        header.topo nav i{

          display: none;

        }

        header.topo nav ul{

          padding: 0;

          list-style: none;

          margin:0;

        }


            header.topo nav ul li a{
              color: #000000;
              font-family:var(--openSans);

              font-size: var(--fontSizePrincipal);
              font-size: 16px;
              line-height: 17px;
              font-style: normal;
              font-weight: normal;
              mix-blend-mode: normal;
              opacity: 0.8;

            }

          header.topo nav ul li{
            display: inline-block;
            margin:0 8px;
            position: relative;
            padding-bottom: 10px;
          } 
            
             header.topo nav ul li>ul.sub-menu{
              background-color: #fff;
              width: 181px;
              min-height: 254px;
              position: absolute;
              top: 25px;
              left: 50%;
              transform: translateX(-50%);
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -o-transform: translateX(-50%);
               display: none;
               z-index: 1;
               box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
            } 
              header.topo nav ul li:hover .sub-menu{
                display: block;
              }
              header.topo nav ul li>ul.sub-menu:before{
                content: "";
                display: block;
                background: url(img/Polygon.png);
                width: 12px;
                height: 12px;
                background-position: center;
                margin: 0 auto;
                position: relative;
                top: -10px;
                background-repeat: no-repeat;
              }
              header.topo nav ul li>ul li{
                display: block;
                text-align: center;
                padding:0 10px;
              }
                header.topo nav ul li>ul li a{
                  border-bottom: solid 1px #DEDEDE; 
                  display: block;
                  padding:10px 0;
                  color: #A2A2A2;
                }
                
                header.topo nav ul li>ul li a:hover{
                 color: #FFA000;
                 text-decoration: none;
                }
                header.topo nav ul li>ul li:last-child a {
                  border-bottom: none;
                 
                }
      .btnWhts{

		box-shadow: 0px 20px 58px rgba(0, 0, 0, 0.100989);
		border-radius: 4px;
		text-align: center;
		float: right;
		display: block;
		width: 114px;
		height: 43px;
		padding-top: 13px;
		position: relative;
		padding-left: 26px;

      }

        .btnWhts a{

          font-family:var(--openSans);

          font-style: normal;

          font-weight: bold;

          font-size: var(--fontSizePrincipal);

          line-height: 19px;

          color: #FFFFFF;

          display: block;

          width: 100%;

        }

          .btnWhts a:before{
			content: "";
			display: block;
			background: url(img/whats.svg);
			width: 25px;
			height: 25px;
			display: inline-block;
			margin-right: 5px;
			vertical-align: text-bottom;
			position: absolute;
			left: 25px;
			top: 9px;
          }





  

  /*RODAPÉ*/

    footer.rodape{

		text-align: center;
		padding-top: 50px;
		padding-bottom: 0px;
		position: relative;



    }
    footer.rodape .btnWhts{
    	width: 280px;
    }
    	footer.rodape .btnWhts a{

    	}
   			footer.rodape .btnWhts a:before{

   			}

    footer.rodape:before{
      display: block;
      content: "";
      background: url(img/Fill3.png);
      position: absolute;
      left: -20px;
      width: 427px;
      height: 430px;
      /*top: -94px;*/
      bottom:0;
      background-repeat: no-repeat;
    }

    footer.rodape:after{
      display: block;
      content: "";
      background: url(img/Fill4.png);
      position: absolute;
      right: 0;
      width: 366px;
      height: 401px;
      /*top: -65px;*/
      bottom:0;
      background-repeat: no-repeat;
    }

      footer.rodape figure{

        display: block;

        text-align: center;

      }

        footer.rodape figure img{



        }

        footer.rodape figure figcaption{

          display: none;

        }

      footer.rodape nav{
        text-align: center;
        margin: 40px 0 30px;
      }

         footer.rodape nav ul{

          list-style: none;

          padding:0;

          margin:0;

         }

         footer.rodape nav ul li{

          display: inline-block;

         }
          footer.rodape nav ul li>ul.sub-menu{
               display: none;
            } 

        footer.rodape nav a{

          font-family:var(--openSans);

          font-style: normal;

          font-weight: bold;

          font-size: var(--fontSizePrincipal);

          line-height: 17px;

          color: #383838;

          mix-blend-mode: normal;

          margin: 10px 8px;

        }

    footer.rodape .btnWhts{
		max-width: 280px;
      float: initial;

      display: inline-block;

    }

      footer.rodape .copyright{

        font-family: var(--openSans);

        font-style: normal;

        font-weight: normal;

        font-size: var(--fontSizePrincipal);

        line-height: 19px;

        color: var(--pretoPrincipal);

        mix-blend-mode: normal;

        margin-top: 30px;

      }
	footer .contatoNumero{
		text-align: center;
    	padding-top: 16px;
	}
		footer .contatoNumero span{
			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			/* or 129% */
			display: block;
			text-align: center;

			color: #383838;
		}
  

  /*ESTILOS GERAIS PARA AS PÁGINAS*/

    .pg{



    }
    .modalFormularioSucess{
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999999999999999;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.52);
    }
      .modalFormularioSucess figure{

      }
        .modalFormularioSucess figure img{
          cursor: pointer;
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          display: block;
        }
    .modalFormularioError{
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999999999999999;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.52);
    }
      .modalFormularioError figure{

      }
        .modalFormularioError figure img{
          cursor: pointer;
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          display: block;
          height: auto;
          width: 100%;
          max-width: 484px;
        }
    .wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok{
      opacity: 0;
    }
    .wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors{
      opacity: 0;
    }
    .skewTrue{
      -moz-transform: skew(0deg, -5deg);
      -webkit-transform: skew(0deg, -5deg);
      -o-transform: skew(0deg, -5deg);
      -ms-transform: skew(0deg, -5deg);
      transform: skew(0deg, -5deg);
    }
      .skewFalse{
        -moz-transform: skew(0deg, 5deg);
        -webkit-transform: skew(0deg, 5deg);
        -o-transform: skew(0deg, 5deg);
        -ms-transform: skew(0deg, 5deg);
        transform: skew(0deg, 5deg);
      }

    .tituloPagina{

      font-family:var(--ptSansCaption);

      font-style: normal;

      font-weight: bold;

      font-size: 40px;

      line-height: 65px;/* or 108% */

      color: var(--azulPrincipal);

    }

    .subTitulo{

      font-family: var(--ptSansCaption);

      font-style: normal;

      font-weight: bold;

      font-size: var(--fontSizeTitulos);

      line-height: 40px;

      color: var(--pretoPrincipal);

    }

    .textoSubtitulo{

      font-family: var(--openSans);

      font-style: normal;

      font-weight: normal;

      font-size:var(--fontSizePrincipal);

      line-height: 30px;

      color: var(--pretoPrincipal);

    }

    .textoPagina{

      font-family:var(--openSans);

      font-style: normal;

      font-weight: normal;

      font-size: 18px;

      line-height: 35px;/* or 194% */

      color: var(--pretoPrincipal);

      max-width: 450px;

    }

    .backgroundVerde{

      background: var(--verdePrincipal)!important;

    }



    .backgroundLaranja{

      background: var(--laranjaPrincipal)!important;

    }

    .containerLarge{

      width:100%;

      max-width: 1200px;

      margin:0 auto;

    }

    .containerFull{

      width:100%;

      max-width: 1400px;

      margin:0 auto;

    }  



    .pg .formularioContato{

      

    }

    .pg section .titulosSessa{

      font-family: var(--ptSansCaption);

      font-style: normal;

      font-weight: bold;

      font-size: var(--fontSizeTitulos);

      line-height: 40px;

      color: var(--pretoPrincipal);

      margin: 20px 0 30px;

    }

    .pg section .titulosSessa ~ p{

      font-family:var(--openSans);

      font-style: normal;

      font-weight: normal;

      font-size: var(--fontSizePrincipal);

      line-height: 19px;

      max-width: 542px;

      color: var(--pretoPrincipal);

      mix-blend-mode: normal;

      opacity: 0.6;

      margin: 0 auto;

    }

     .pg .paddingSessao{

        padding-top: 90px;

      }  

      .pg section>p{

      }

    .pg .btnLink{
      margin-top: 29px;
    }
      .pg .btnLink a{
        box-shadow: 0px 20px 58px rgba(0, 0, 0, 0.100989);
        border-radius: 4px;
        font-family:var(--openSans);
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        border: 2px solid transparent;
        padding: 16px 77px;
        outline: none;
        text-decoration: none;
        background: var(--verdePrincipal);
        display: inline-block;
        position: relative;
        z-index: 1;
        -webkit-transition: ease-in-out .2s;
        -o-transition: ease-in-out .2s;
        transition: ease-in-out .2s;
      }
      .pg .btnLink a::after{
        /* content: ''; */
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 100%;
        -webkit-transform: translate(-50%,-50%) skewX(-25deg);
        -ms-transform: translate(-50%,-50%) skewX(-25deg);
        -o-transform: translate(-50%,-50%) skewX(-25deg);
        transform: translate(-50%,-50%) skewX(-25deg);
        -webkit-transition: ease-in-out .4s;
        -o-transition: ease-in-out .4s;
        transition: ease-in-out .4s;
        background-color: #fff;
        z-index: -2;
      }
      .pg .btnLink a:hover{
        background-color: #166e20;
      }
    .pg .btnLinkModelo2{
      padding-top: 29px;
    }
      .pg .btnLinkModelo2 a{
        box-shadow: 0px 20px 58px rgba(0, 0, 0, 0.100989);
        border-radius: 4px;
        font-family:var(--openSans);
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 24px;
        color: #FFFFFF;
        border:2px solid transparent;
        padding: 14px 25px;
        outline: none;
        text-decoration: none;
        background: var(--laranjaPrincipal);
        display: inline-block;
        position: relative;
        z-index: 1;
        -webkit-transition: ease-in-out .2s;
        -o-transition: ease-in-out .2s;
        transition: ease-in-out .2s;
      }
     
      .pg .btnLinkModelo2 a::after{
        /* content: ''; */
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 100%;
        -webkit-transform: translate(-50%,-50%) skewX(-25deg);
        -ms-transform: translate(-50%,-50%) skewX(-25deg);
        -o-transform: translate(-50%,-50%) skewX(-25deg);
        transform: translate(-50%,-50%) skewX(-25deg);
        -webkit-transition: ease-in-out .4s;
        -o-transition: ease-in-out .4s;
        transition: ease-in-out .4s;
        background-color: #fff;
        z-index: -2;
      }
      .pg .btnLinkModelo2 a:hover{
        background-color: #e69000;
      }
      
    .pg .btnSubmit{

      box-shadow: 0px 20px 58px rgba(0, 0, 0, 0.100989);

      border-radius: 4px;

      font-family:var(--openSans);

      font-style: normal;

      font-weight: bold;

      font-size: 17px;

      line-height: 24px;

      color: #FFFFFF;

      border:none;

      padding: 16px 16px;

      outline: none;

      text-decoration: none;

    }

    .pg section.bannerDestaqueInternas{
      background: #F8F8F8;
      min-height: 520px;
      padding-top:120px; 
      position: relative;

    }

      .pg section.bannerDestaqueInternas h4{

        

      }

      .pg section.bannerDestaqueInternas article{

        text-align: center;

      } 
      .pg section.bannerDestaqueInternas article .textoPagina{
        max-width: 695px;
        margin:0 auto;
      }
        .pg section.bannerDestaqueInternas article h6{
          margin-bottom: 30px;  
        }

        .pg section.bannerDestaqueInternas article p{
          font-size: 16px;
        }
      .pg section.bannerDestaqueInternas figure{

      }

        .pg section.bannerDestaqueInternas figure img{
          display: none;
        }

        .pg section.bannerDestaqueInternas figure figcaption{

            

        }

    section.prestadorServico div.formulario{

      background: #F7F7F7;

      border-radius: 4px;

      max-width: 527px;

      margin:0 auto 40px;


     padding: 20px 20px 10px;

      margin-bottom: 100px;

    }

      section.prestadorServico div.formulario input{
        background: #FFFFFF;
        border: 1px solid #B6B6B6;
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 50px;
        font-family: var(--openSans);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #000000;
        mix-blend-mode: normal;
        line-height: 22px;/* identical to box height */
        padding: 10px 20px;
        outline: none;
        margin-bottom: 29px;
      }

      section.prestadorServico div.formulario .areaArquivo{

        background: #B6B6B6;

        opacity: 0.33;

        border: 1px solid #B6B6B6;

        box-sizing: border-box;

        border-radius: 4px;

        font-family:var(--openSans);

        font-style: normal;

        font-weight: normal;

        font-size: 16px;

        line-height: 22px;/* identical to box height */

        text-decoration-line: underline;

        color: #000000;

        mix-blend-mode: normal;

        opacity: 0.6;

        position: relative;

        width: 100%;

       

        height: 38px;

        margin: 0 auto;

        text-align: center;

        padding-top: 8px;

      }

        section.prestadorServico div.formulario input[type="file"]{

          position: absolute;

          top: 0;

          left: 0;

          display: block;

          width: 100%;

          height: 100%;

          opacity: 0;

        }

      section.prestadorServico div.formulario input[type="submit"]{

        background: #FFA000;

        box-shadow: 0px 20px 58px rgba(0, 0, 0, 0.100989);

        border-radius: 4px;

        width: 100%;

        max-width: 280px;

        height: 43px;

        margin:50px auto 0;

        display: block;

        font-family:var(--openSans);

        font-style: normal;

        font-weight: bold;

        font-size: 14px;

        line-height: 19px;/* identical to box height, or 136% */

        text-align: center;

        opacity: 1;

        color: #FFFFFF;

        padding: 0;

        border: none;

      }
      section.prestadorServico div.formulario input[type="submit"]:hover{
  	    background: #df8e06;
      }
      section.prestadorServico div.formulario input#cep{
        width: 90%;
      }

      section.prestadorServico div.formulario select{

        background: #FFFFFF;

        border: 1px solid #B6B6B6;

        box-sizing: border-box;

        display: block;

        width: 100%;

        height: 50px;

        font-family:var(--openSans);

        font-style: normal;

        font-weight: normal;

        font-size: 16px;

        line-height: 22px;/* identical to box height */

        color: #000000;

        mix-blend-mode: normal;

        padding:0 20px;

        outline: none;

        margin-bottom: 29px;

      }

        section.prestadorServico div.formulario option{

          opacity: 0.6;

          font-family:var(--openSans);

          font-style: normal;

          font-weight: normal;

          font-size: 16px;

          line-height: 22px;/* identical to box height */

          color: #000000;

          mix-blend-mode: normal;

          padding:0 20px;

          outline: none;

        }

      /* Chrome, Safari, Opera */

      section.prestadorServico div.formulario input::-webkit-input-placeholder {

        font-family:var(--openSans);

        font-style: normal;

        font-weight: normal;

        font-size: 16px;

        line-height: 22px;/* identical to box height */

        color: #000000;

        mix-blend-mode: normal;

      

      }



      /* Firefox 18- */

      section.prestadorServico div.formulario input:-moz-placeholder {

        font-family:var(--openSans);

        font-style: normal;

        font-weight: normal;

        font-size: 16px;

        line-height: 22px;/* identical to box height */

        color: #000000;

        mix-blend-mode: normal;

        

      }



      /* Firefox 19+ */

      section.prestadorServico div.formulario input::-moz-placeholder {

        font-family:var(--openSans);

        font-style: normal;

        font-weight: normal;

        font-size: 16px;

        line-height: 22px;/* identical to box height */

        color: #000000;

        mix-blend-mode: normal;

        

      }



      /* IE10+ */

      section.prestadorServico div.formulario input:-ms-input-placeholder {

        

        font-family:var(--openSans);

        font-style: normal;

        font-weight: normal;

        font-size: 16px;

        line-height: 22px;/* identical to box height */

        color: #000000;

        mix-blend-mode: normal;

        

      }





        section.prestadorServico div.formulario p{

          font-family:var(--openSans);

          font-style: normal;

          font-weight: normal;

          font-size: 16px;

          line-height: 22px;/* identical to box height */

          color: #000000;

          mix-blend-mode: normal;

          opacity:1;

			padding: 10px 20px 0;
			margin: 0;

        }

      section.prestadorServico div.formulario span{

        margin: 0;

        text-align: left;

        color: red;

        position: initial;

        

      }


    ::-webkit-scrollbar{ 

      background: #043089;

      width: 7px;

    }



    /*::-webkit-scrollbar-button{ 

     background: #2178a3;

    }*/



    ::-webkit-scrollbar-track{}

    

    ::-webkit-scrollbar-track-piece {}

    

    ::-webkit-scrollbar-thumb{ 

      background: #ffa000;

      border-radius:5px; 

    }

    

    ::-webkit-scrollbar-corner       { /* 6 */ }

    

    ::-webkit-resizer                { /* 7 */ }


    .modalCntatoSite{
      display: none;
      position: fixed;
      z-index: 9999999999;
      background: #fff;
      width: 100%;
      height: 100vh;
      overflow-y: scroll;
    }
    .modalCntatoSite>button{
      background: transparent;
      border: none;
      display: block;
      float: right;
      margin: 20px;
      outline: none;
      position: relative;
      z-index: 99;
    }
      .modalCntatoSite>button img{
        display: block;
        width: 100%;
        max-width: 45px;
      }
    .modalCntatoSite .prestadorServico{
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .travaScroll{
      overflow: hidden;
    }
    .tituloMobile{
    	display: none!important;
    }




 



  /*@MEDIA*/

   

  /*@MEDIA*/

    @media(max-width: 1210px){

                    /*HUDSON*/

    /*---------------------------------------------*/

                    /*MARIA*/



    }

    @media(max-width: 1200px){

       .containerLarge{

          padding: 0 20px;

        }

        .containerFull{

          padding: 0 20px;

        }  



                    /*HUDSON*/

    /*---------------------------------------------*/

                    /*MARIA*/



    }

    @media(max-width: 1100px){

                      /*HUDSON*/

    /*---------------------------------------------*/

                    /*MARIA*/

    }

    @media(max-width: 991px){

      footer.rodape:before {

      display: none;

      }

      footer.rodape:after {

        display: none;  

     }



                     /*HUDSON*/

    /*---------------------------------------------*/

                    /*MARIA*/

  

    }

    @media(max-width: 768px){

      header.topo{
      	padding:0;
      }
      section.prestadorServico div.formulario {
	    margin-bottom: 50px;
	}

      section.prestadorServico div.formulario{

        padding: 10px 10px;

      }

      section.prestadorServico div.formulario{

        min-height: 0;

      }

      header.topo button{

        display: inline-block;

      }

      /*VARIÁVEIS*/

        :root{

          /*FONTS SIZE*/

          --fontSizeTitulos: 30px; 

          --fontSizeTitulosMenor:24px ;

        }

        header.topo nav{

          position: fixed;

          left: 0;

          top: 0;

          background: #fff;

          width: 100%;

          height: 100vh;

          z-index: 99999999;

          margin: 0;

          left: -110%;

          transition:All 1s ease;

          -webkit-transition:All 1s ease;

          -moz-transition:All 1s ease;

          -o-transition:All 1s ease;

        }

        header.topo nav.menuOpen{

          left:0;

          transition:All 1s ease;

          -webkit-transition:All 1s ease;

          -moz-transition:All 1s ease;

          -o-transition:All 1s ease;

        }

        header.topo nav img{

          display: block;

          margin:20px auto;

        } 

        header.topo nav i{

          display: block;

          float: right;

          color: #043089;

          font-size: 25px;

          margin: 10px;

          cursor:pointer;

        }

        header.topo nav ul li{

          display: block;

          text-align: center;

          margin-bottom: 10px;



        }

           header.topo nav ul li a{

            color: #043089;

            opacity: 1;

           }

        header .btnWhts{

			padding: 10px;
			position: absolute;
			top: 15px;
			right: 0;
			z-index: 9;

        }

         header .btnWhts a{

          font-size: 0;

          line-height: 0;

         }

         .btnWhts a:before{

          margin-right: 0;

         }

		.pg .btnLinkModelo2 a{
			padding: 10px 5px;
			font-size: 16px;
    	}
      header.topo nav ul li>ul.sub-menu {
        background-color: #fff;
        width: 181px;
        min-height: 254px;
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        /* display: none; */
        position: initial;
        transform: initial;
        -webkit-transform: initial;
        -moz-transform: initial;
        -o-transform: initial;
        width: 100%;
    }


                     /*HUDSON*/

    /*---------------------------------------------*/

                    /*MARIA*/

  

    }

    @media(max-width: 620px){

	 	header.topo figure img{
			max-width: 150px;
			width: 100%;
			display: block;
			margin: 0 auto;

	      }
	      header.topo figure{
	      	width: 87%;
	      }

		header.topo button{
		    margin-right: 30px;
		}
      	.tituloDesktop{
    		display: none!important;
    	}
    	.tituloMobile{
    		display: block!important;
    		text-align: center;
    		margin-bottom: 30px;
    	}

  

    }

    @media(max-width: 520px){



                     /*HUDSON*/

    /*---------------------------------------------*/

                    /*MARIA*/

  

    }

    @media(max-width: 420px){



                     /*HUDSON*/

    /*---------------------------------------------*/

                    /*MARIA*/

  

    }

    @media(max-width: 320px){



                     /*HUDSON*/

    /*---------------------------------------------*/

                    /*MARIA*/

  

    }

