/* STYLE PÁGINA INICIAL */



.pg-inicial{

}

	.pg-inicial section{}
	.pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque span.wpcf7-not-valid-tip{
		color: #f00;
		font-size: 13px;
		font-weight: normal;
		display: block;
		position: absolute;
		z-index: 99;
	}

		.pg-inicial section.sessaoDestaque .owl-carousel .owl-stage-outer{

    		overflow: initial;

		}

		.pg-inicial section.sessaoDestaque{

			background: #F8F8F8;

			min-height: 650px;

		}

		.pg-inicial section.sessaoDestaque .carrosselDestaque .item{}

			.pg-inicial section.sessaoDestaque .carrosselDestaque .item .areaTextoCarrosselDestaque{

				padding-top:85px;

			}

				.pg-inicial section.sessaoDestaque .carrosselDestaque .item .areaTextoCarrosselDestaque h2{

					

				}

				.pg-inicial section.sessaoDestaque .carrosselDestaque .item .areaTextoCarrosselDestaque p{

					

				}

			.pg-inicial section.sessaoDestaque .carrosselDestaque .item figure{

				display: block;

				width: 100%;

				max-width: 467px;

				position: relative;

			

			}

				.pg-inicial section.sessaoDestaque .carrosselDestaque .item figure img{
					display: block;
					width: 100%;
					max-width: 365px;
					position: absolute;
					top: 50px;
					right: 0;
					z-index: 9;
				}

				.pg-inicial section.sessaoDestaque .carrosselDestaque .item figure figcaption{}

		.pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque{

			position: relative;

			font-size: 0;

    		margin-top: 40px;

    		z-index: 99;

		}

			.pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque .areainput{

				box-shadow: 0px 20px 58px rgba(0, 0, 0, 0.100989);

				border-radius: 4px;

				width: 100%;

				max-width: 959px;

				background: #fff;		

			}

				.pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque .styleInputs{

					background: #FFFFFF;

					outline: none;

					margin: 0;

					height: 57px;

					border: none;

					width: 100%;

					max-width: 25%;

					font-family: var(--openSans);

					font-style: normal;

					font-weight: normal;

					font-size: var(--fontSizePrincipal);

					line-height: 19px;

					color: var(--pretoPrincipal);

					padding: 10px;

					border-radius: 4px;

				}

				.pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque .styleInputs:nth-child(2),.pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque .styleInputs:nth-child(3){

					border-left: 1px solid rgba(216, 216, 216, 0.3803921568627451);

					border-radius: 0;

				}

				.pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque .styleInputs:nth-child(4){

					border-left: 1px solid rgba(216, 216, 216, 0.3803921568627451);

					border-radius:0 4px 4px 0;

				}

				

				/* Chrome, Safari, Opera */

				.pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque .styleInputs::-webkit-input-placeholder {

					font-family:var(--openSans);

					font-style: normal;

					font-weight: normal;

					font-size:var(--fontSizePrincipal);

					line-height: 19px;

					color: var(--pretoPrincipal);

					mix-blend-mode: normal;

					opacity: 0.6;

				}



				/* Firefox 18- */

				.pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque .styleInputs:-moz-placeholder {

					font-family:var(--openSans);

					font-style: normal;

					font-weight: normal;

					font-size:var(--fontSizePrincipal);

					line-height: 19px;

					color: var(--pretoPrincipal);

					mix-blend-mode: normal;

					opacity: 0.6;

				}



				/* Firefox 19+ */

				.pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque .styleInputs::-moz-placeholder {

					font-family:var(--openSans);

					font-style: normal;

					font-weight: normal;

					font-size:var(--fontSizePrincipal);

					line-height: 19px;

					color: var(--pretoPrincipal);

					mix-blend-mode: normal;

					opacity: 0.6;

				}



				/* IE10+ */

				.pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque .styleInputs:-ms-input-placeholder {

					font-family:var(--openSans);

					font-style: normal;

					font-weight: normal;

					font-size:var(--fontSizePrincipal);

					line-height: 19px;

					color: var(--pretoPrincipal);

					mix-blend-mode: normal;

					opacity: 0.6;

				}





				.pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque select{

				}

				.pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque input{

				}

				.pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque input[type="text"]{}

				.pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque input[type="submit"]{

					position: absolute;

					right:0; 

					top: 0;

					background: var(--laranjaPrincipal);

				}
				.pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque input[type="submit"]:hover{
					background-color: #e69000;
				}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
	font-size: 14px;
	text-align: center;
	background-color: #398f14;
	color: #fff;
	margin: 0 auto;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    border: 2px solid #f7e700;
    font-size: 14px;
    text-align: center;
    background-color: #f7e700;
    color: #000;
    margin: 0 auto;
}
div.wpcf7-mail-sent-ng, div.wpcf7-aborted {
    border: 2px solid #ff0000;
    font-size: 14px;
    background-color: #ff0000;
    text-align: center;
    color: #fff;
    margin: 0 auto;
}

				

	.pg-inicial section.sessaoComofunciona{
		padding-top: 140px;
		background: #fff;
		margin-top: -220px;
	}
		.sessaoComofunciona.skew{
			-moz-transform: skew(0deg, -5deg);
			-webkit-transform: skew(0deg, -5deg);
			-o-transform: skew(0deg, -5deg);
			-ms-transform: skew(0deg, -5deg);
			transform: skew(0deg, -5deg);
		}
			.sessaoComofunciona .containerLarge.skewCorrecao{
				-moz-transform: skew(0deg, 5deg);
				-webkit-transform: skew(0deg, 5deg);
				-o-transform: skew(0deg, 5deg);
				-ms-transform: skew(0deg, 5deg);
				transform: skew(0deg, 5deg);
				padding-bottom: 90px;
			}

		.pg-inicial section.sessaoComofunciona .areaVideo{

			display: block;

			width:100%;

			max-width: 569px;

			height: 386px;

			overflow: hidden;

			box-shadow: 0px 20px 58px rgba(0, 0, 0, 0.100989);

			position: relative;

		}
		.pg-inicial section.sessaoComofunciona .areaVideo>img{
			width: 109%;
			display: block;
			position: absolute;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
		}

			.pg-inicial section.sessaoComofunciona .areaVideo button{

				background: transparent;

				border: none;

				position: absolute;

				top: 50%;

				left: 50%;

				transform: translate(-50%, -50%);

				-webkit-transform: translate(-50%, -50%);

				-moz-transform: translate(-50%, -50%);

				-o-transform: translate(-50%, -50%);

				cursor: pointer;

				z-index: 9;

				outline: none;

			}

				.pg-inicial section.sessaoComofunciona .areaVideo button img{

				

				}

			.pg-inicial section.sessaoComofunciona .areaVideo video{

				top: 0;

				left: 0;

				width: 100%;

				height: 100%;

				object-fit: cover;
				background-size: cover!important;
				background-position: center!important;

			}

		.pg-inicial section.sessaoComofunciona article{

			padding: 40px 10px 0;

		}

			.pg-inicial section.sessaoComofunciona article h2{

			    margin-top: 10px;

			}

			.pg-inicial section.sessaoComofunciona article p{

				font-family: var(--openSans);

				font-style: normal;

				font-weight: normal;

				font-size:var(--fontSizePrincipal);

				line-height: 30px;

				color: var(--pretoPrincipal);

			}

			.pg-inicial section.sessaoComofunciona article .btnLink{}

	.pg-inicial section.sessaoServicos{
		padding-bottom: 90px;
		padding-top: 0;
	}
	.pg-inicial section.sessaoServicos{

		background: #fff;
		-moz-transform: skew(0deg, -5deg);
		-webkit-transform: skew(0deg, -5deg);
		-o-transform: skew(0deg, -5deg);
		-ms-transform: skew(0deg, -5deg);
		transform: skew(0deg, -5deg);
		

	}
		.pg-inicial section.sessaoServicos .skewCorrecao{
			-moz-transform: skew(0deg, 5deg);
			-webkit-transform: skew(0deg, 5deg);
			-o-transform: skew(0deg, 5deg);
			-ms-transform: skew(0deg, 5deg);
			transform: skew(0deg, 5deg);
		}
		.pg-inicial section.sessaoServicos:after{}

		.pg-inicial section.sessaoServicos ul{

			text-align: center;

			padding-top: 80px;

			margin-bottom: 50px;

		}

			.pg-inicial section.sessaoServicos ul li{

				display: inline-block;

				width: 100%;

				box-shadow: 0px 20px 58px rgba(0, 0, 0, 0.100989);

				background: #fff;

				max-width: 20.1%;

				min-height: 340px;

				margin: 0 11px 22px;

				vertical-align: top;

				padding: 42px 40px;

				text-align: left;

			}
				.pg-inicial section.sessaoServicos ul li a{
					text-decoration: none;
				}

					.pg-inicial section.sessaoServicos ul li figure{

						width: 70px;

						height: 70px;

						display: block;



					}

						.pg-inicial section.sessaoServicos ul li figure img{

							display: block;

							max-width: 100%;

							height: auto;

						}

						.pg-inicial section.sessaoServicos ul li figure figcaption{

							display: none;

						}

					.pg-inicial section.sessaoServicos ul li h2{

						font-family: var(--ptSansCaption);

						font-style: normal;

						font-weight: bold;

						font-size: 20px;

						line-height: 26px;/* identical to box height, or 130% */

						color: var(--pretoPrincipal);

						margin-bottom: 20px;

					}

					.pg-inicial section.sessaoServicos ul li .itens{
						padding-left: 20px;
					}
					.pg-inicial section.sessaoServicos ul li p{

						font-family: var(--openSans);

						font-style: normal;

						font-weight: normal;

						font-size:  var(--fontSizePrincipal);

						line-height: 30px;/* or 214% */

						mix-blend-mode: normal;

						color: var(--pretoPrincipal);
						position: relative;
						margin: 0;

					}
						.pg-inicial section.sessaoServicos ul li p:before{

						content: "";

						display: block;

						width: 7px;

						height: 7px;

						background: #FFA000;

						border-radius: 38px;

						position: absolute;

						top: 50%;

						transform: translateY(-50%);

						-webkit-transform: translateY(-50%);

						-moz-transform: translateY(-50%);

						-o-transform: translateY(-50%);

					    left: -20px;

					}

	.pg-inicial section.sessaoContrate{
		padding-top: 100px;
		margin-top: -100px;
		background: #F7F7F7;
		
		

	}
		section.sessaoContrate .containerLarge.skewCorrecao{
		
		}

		.pg-inicial section.sessaoContrate .areaTexto{

		    padding-top: 100px;

		}

			.pg-inicial section.sessaoContrate .areaTexto h6{

				font-size:var(--fontSizeTitulosMenor);

			}

			.pg-inicial section.sessaoContrate .areaTexto p{}

		.pg-inicial section.sessaoContrate figure{

			display: block;

			width: 100%;

			min-height: 450px;

			position: relative;

		}

			.pg-inicial section.sessaoContrate figure img{

				display: block;
				width: 100%;
				max-width: 662px;
				height: auto;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				-o-transform: translateX(-50%);
				bottom: 0;

			}

			.pg-inicial section.sessaoContrate figure figcaption{

				display: none;

			}

	.pg-inicial section.sessaoPrestadorServico{

		background: #383838;

	}

		.pg-inicial section.sessaoPrestadorServico figure{}

			.pg-inicial section.sessaoPrestadorServico figure img{

				display: block;

				width: 100%;

			}

			.pg-inicial section.sessaoPrestadorServico figure figcaption{

				display: none;

			}

		.pg-inicial section.sessaoPrestadorServico .areaTexto{
			max-width: 660px;
			margin:0 auto;
			padding-bottom: 10px;
		    padding-left: 40px;

		}

			.pg-inicial section.sessaoPrestadorServico .areaTexto h6{

				font-size:var(--fontSizeTitulosMenor);

				color: #fff;

				    padding-top: 55px;

			}

			.pg-inicial section.sessaoPrestadorServico .areaTexto p{

				font-family: var(--openSans);

				font-style: normal;

				font-weight: normal;

				font-size: var(--fontSizePrincipal);

				line-height: 30px;

				color: #FFFFFF;

				mix-blend-mode: normal;

				opacity: 0.6;

				width: 100%;
				min-height: 60px;
				max-width: 470px;
				margin: 0;

			}

	.pg-inicial section.sessaoDeposimentos{

		position: relative;

		

		background: #F7F7F7;

	}

		.sessaoDeposimentos .btnCarrossel{

			position: absolute;

		    max-width: 950px;

		    z-index: 99;

		    display: block;

			top: 50%;

			left: 50%;

			transform: translate(-50%, -50%);

			-webkit-transform:translate(-50%, -50%);

			-moz-transform:translate(-50%, -50%);

			-o-transform:translate(-50%, -50%);	

		}

			.sessaoDeposimentos button{

				background: transparent;

				border: none;

				outline: none;

				

			}

			.sessaoDeposimentos button.esquerdaCarrossel{

			

				cursor: pointer;

			}

			.sessaoDeposimentos button.direitaCarrossel{

				right: 0;

				position: absolute;

				cursor: pointer;

			}

		.pg-inicial section.sessaoDeposimentos .owl-carousel .owl-stage-outer{

			height: 432px;

    		padding-top: 64px;

		}

		.pg-inicial section.sessaoDeposimentos:before{

			content: "";

			display: block;

			height: 230px;

			width: 100%;

		    max-width: 795px;

			background: #FFFFFF;

			mix-blend-mode: normal;

			opacity: 0.5;

			box-shadow: 0px 21px 55px rgba(0, 0, 0, 0.0995411);

			margin: 0 auto;

			position: absolute;

			top: 50%;

			left: 50%;

			transform: translate(-50%, -50%);

			-webkit-transform:translate(-50%, -50%);

			-moz-transform:translate(-50%, -50%);

			-o-transform:translate(-50%, -50%);	

		}

		.pg-inicial section.sessaoDeposimentos .areaCarrossel{

			padding-bottom: 100px;

			padding-top: 100px;

		}

			.pg-inicial section.sessaoDeposimentos .areaCarrossel .item{

				width: 100%;

				max-width: 693px;

				min-height: 303px;

				background: #FFFFFF;

				box-shadow: 0px 21px 55px rgba(0, 0, 0, 0.0995411);

				margin: auto;

				text-align: center;

				z-index: 9;

				position: relative;

			    padding: 0 10px 20px;

			}

				.pg-inicial section.sessaoDeposimentos .areaCarrossel .item:after{

					content: "";

					display: block;

					background: url(../img/aspas.png);

					width: 75px;

					height: 58px;

					position: absolute;

					left: 50%;

					transform: translateX(-50%);

					transform: translateX(-50%);

					-webkit-transform: translateX(-50%);

					-moz-transform: translateX(-50%);

					-o-transform: translateX(-50%);

					top: 120px;

				}

				.pg-inicial section.sessaoDeposimentos .areaCarrossel .item figure{

			

				}

					.pg-inicial section.sessaoDeposimentos .areaCarrossel .item figure img{

						width: 77px;

						height: 77px;

						display: block;

						margin: 0 auto;

						border-radius: 100%;

						position: relative;

						top: -35px;

					}

					.pg-inicial section.sessaoDeposimentos .areaCarrossel .item figcaption{

						font-family:var(--ptSansCaption);

						font-style: normal;

						font-weight: bold;

						font-size: 20px;

						line-height: 26px;/* identical to box height, or 130% */

						color: var(--pretoPrincipal);

					}

				.pg-inicial section.sessaoDeposimentos .areaCarrossel .item h2{

					font-family:var(--ptSansCaption);

					font-style: normal;

					font-weight: bold;

					font-size: 20px;

					line-height: 26px;/* identical to box height, or 130% */

					color: var(--pretoPrincipal);

				}

				.pg-inicial section.sessaoDeposimentos .areaCarrossel .item p{

					font-family:var(--openSans);

					font-style: italic;

					font-weight: normal;

					font-size: var(--fontSizePrincipal);

					line-height: 30px;/* or 214% */

					text-align: center;

					color: var(--pretoPrincipal);

					mix-blend-mode: normal;

					opacity: 0.6;

					max-width: 508px;

					margin: 45px auto 0;

				}

	  /*@MEDIA*/

    @media(max-width: 1210px){

     .pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque input[type="submit"]{

        padding: 16px 5px;

      }

                    /*HUDSON*/

    /*---------------------------------------------*/

                    /*MARIA*/



    }

    @media(max-width: 1200px){

      .pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque input[type="submit"]{

          padding: 16px 5px;

          position: initial;

          margin-top: 10px;

        }

        .pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque{

          max-width: 959px;

        }

         .containerLarge{

            padding: 0 20px;

          }

          .containerFull{

            padding: 0 20px;

          }  



                    /*HUDSON*/

    /*---------------------------------------------*/

                    /*MARIA*/



    }

    @media(max-width: 1100px){

      .pg-inicial section.sessaoDestaque .carrosselDestaque .item .areaTextoCarrosselDestaque h2{

        font-size: 50px;

      }

      .pg-inicial section.sessaoServicos ul li{

  	    padding: 25px 25px;

	    max-width: 300px;

  	    margin-bottom:21px; 

      }

      footer.rodape:before {

    

	    width: 254px;

	    height: 259px;

	    bottom: -2px;

	    background-size: cover;

	    top:initial;

	}

	footer.rodape:after {

	    width: 218px;

	    height: 239px;

	    bottom: -5px;

	    top: initial;

	    background-size: cover;

	}

                      /*HUDSON*/

    /*---------------------------------------------*/

                    /*MARIA*/

    }

    @media(max-width: 991px){

      .pg-inicial section.sessaoDestaque .carrosselDestaque .item .areaTextoCarrosselDestaque h2{

        font-size: 38px;

        line-height: 47px;

      }

      .pg-inicial section.sessaoComofunciona article{

  		padding: 0 10px 0;

  		text-align: center;

      }

      .pg .btnLink a{

  	    padding: 16px 15px;

      }

      .pg .btnLinkModelo2 a{

  	    font-size: 15px;

      }

      .pg-inicial section.sessaoContrate{

  	    margin-top: 80px;

  	    padding-bottom: 50px;

      }

      .pg-inicial section.sessaoContrate .areaTexto{

      	padding-top: 0;

      }

      .pg-inicial section.sessaoContrate figure{

      	min-height: 0;

      }

      .pg-inicial section.sessaoContrate figure img{

		position: initial;

		left: initial;

		transform: initial;

		-webkit-transform: initial;

		-moz-transform: initial;

		-o-transform: initial;

		top: initial;

      }

    footer.rodape:before {

    	display: none;

	}

	footer.rodape:after {

		display: none;	

	}



                     /*HUDSON*/

    /*---------------------------------------------*/

                    /*MARIA*/

  

    }

    @media(max-width: 768px){
    	.pg-quemSomos section.comoFUnciona{
		    padding-bottom: 50px;
    	}

    	.sessaoComofunciona .containerLarge.skewCorrecao{
    		padding-bottom: 10px;
    	}
    	.pg-inicial section.sessaoServicos ul{
    		padding-top: 0;
    	}
    	.pg .btnLinkModelo2 a{
		    padding: 14px 20px;
	        padding-top: 0;
    	}

    	.pg-inicial section.sessaoPrestadorServico .areaTexto h6{
			padding-top: 15px;
			line-height: 26px;

        }
        .pg-inicial section.sessaoComofunciona{
        	margin-top: 0;
        	padding-top: 80px;
        }

        .pg-inicial section.sessaoContrate .areaTexto h6{

           line-height: 26px;

        }
        .pg-inicial section.sessaoPrestadorServico{
        	padding-bottom: 35px;
        }
        .pg-inicial section.sessaoDeposimentos{
        	display: none;
        }

        .pg-inicial section.sessaoDestaque .carrosselDestaque .item .areaTextoCarrosselDestaque h2{

          font-size: 30px;
			text-align: center;
          line-height: 35px;

        }
        .pg-inicial section.sessaoDestaque .carrosselDestaque .item .areaTextoCarrosselDestaque {
		    padding-top:80px;
		}
        .pg-inicial section.sessaoDestaque .carrosselDestaque .item .areaTextoCarrosselDestaque p{
        	text-align: center;
        	max-width: 100%;
        }
		header .btnWhts a:before{
		    left: 17px;
		}
		.pg .btnLink a{
			padding: 16px 50px;
		}

		header .btnWhts{
		    width: 60px;
	        border-radius: 4px 0px 0px 4px;
		}
		.pg-inicial section.sessaoComofunciona .areaVideo{
			margin:0 auto;
		}
      .pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque{

        margin-top: 0;

        z-index: initial;

      }

      .pg-inicial section.sessaoDestaque .carrosselDestaque .item figure img{

        display: none;

      }

      .pg-inicial section.sessaoDestaque{

  	    padding-bottom: 10px;

  	    min-height: 0;

      }

      .pg-inicial section.sessaoComofunciona article{

      	padding: 40px 0 0;

      }
      .sessaoDeposimentos .btnCarrossel{
      	display: none;
      }

      .pg-inicial section.sessaoServicos ul li{

  	    margin: 11px 0;

	   

      }

      .pg-inicial section.sessaoServicos{

      	    padding: 0px 20px 40px;

      }
      .pg-inicial section.sessaoContrate {
	    margin-top: -30px;
	    padding-bottom: 0;
	    padding-top: 60px;
	}
	.pg-inicial section.sessaoPrestadorServico figure{
		display: none;
	}
		.pg-inicial section.sessaoContrate .btnLink{
			display: none;
		}
	      .pg-inicial section.sessaoComofunciona  .btnLink a{
      	display: none;
      }

      .pg-inicial section.sessaoContrate .areaTexto{

      	text-align: center;

      }

      .pg-inicial section.sessaoPrestadorServico .areaTexto{

      	padding: 10px 10px;

      	text-align: center;

      }

      .btnWhts{

  	    padding:10px;

      }

      .pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque input[type="submit"]{
			display: block;
			width: 100%;
			position: relative;
			z-index: 9;
      }

    /*---------------------------------------------*/

                    /*MARIA*/

  

    }

    @media(max-width: 620px){
		.pg-inicial section.sessaoComofunciona{
			margin-top: -70px;
		}
    	.btnCarrossel{

    		display: none;

    	}


    	footer.rodape nav{

    		display: none;

    	}

    	footer.rodape figure {

		    margin-bottom: 30px;

		}

		footer.rodape{

			padding: 30px 20px 30px;

		}

		.pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque .styleInputs{

       	 max-width: 100%;

      	}

		.pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque .areainput{

			background: transparent;

		    box-shadow: none;

		}

		.pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque .styleInputs{

		    margin-bottom: 10px;

		   

		}

		.pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque .styleInputs:nth-child(2), .pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque .styleInputs:nth-child(3){

			border-radius: 4px;

		}

		.pg-inicial section.sessaoDestaque .fomrularioCarrosselDestaque .styleInputs:nth-child(4){

			border-radius: 4px;

		}

                     /*HUDSON*/

    /*---------------------------------------------*/

                    /*MARIA*/

  

    }

    @media(max-width: 520px){



                     /*HUDSON*/

    /*---------------------------------------------*/

                    /*MARIA*/

  

    }

    @media(max-width: 420px){



                     /*HUDSON*/

    /*---------------------------------------------*/

                    /*MARIA*/

  

    }

    @media(max-width: 320px){



                     /*HUDSON*/

    /*---------------------------------------------*/

                    /*MARIA*/

  

    }