/* STYLE PÁGINA PLANOS */





	.pg.planos:before{
		content: "";
		display: block;
		/* background: #EDECE7; */
		width: 100%;
		height: 102px;
	}

	.pg-contrate1 .secao-planos{

		margin-bottom: 0;

	}

		.pg-contrate1 .secao-planos h1{

			text-align: center;
	
    padding-top: 60px;
			

		}

		.pg-contrate1 .secao-planos span{

			display: block;

			text-align: center;

			max-width: 100%;

		}

		.pg-contrate1 .secao-planos ul{

			margin: 0 auto;

			width: 100%;

			max-width: 890px;

		}

			.pg-contrate1 .secao-planos ul li{

				width: 100%;

				max-width: 45%;

				display: inline-block;

				/*margin: 0 auto;*/

				padding: 184px 70px 65px;

				vertical-align: top;

				background-image: url(../img/fundo-plano.png);

				background-repeat: no-repeat;

				background-size: 435px;

				background-position-x: center;

				background-position-y: top;

				box-shadow: 0px 23px 73px rgba(0, 0, 0, 0.16);

				margin: 52px 15px 0;

				position: relative;

				overflow: hidden;

				border-radius: 5px;

			}

			.pg-contrate1 .secao-planos ul li::before{

				content: '';

				position: absolute;

				top: 140px;

				left: 0;

				display: inline-block;

				background-color: #fff;

				width: 100%;

				height: 100%;

				-webkit-transform: skewY(10deg);

				-moz-transform: skewY(16deg);

				-ms-transform: skewY(16deg);

				-o-transform: skewY(16deg);

				transform: skewY(16deg);

				

			}

				.pg-contrate1 .secao-planos ul li .icone{

					position: relative;

				}

				.pg-contrate1 .secao-planos ul li h5{

					font-family: 'PT sans caption', sans-serif;

					color: var(--pretoPrincipal);

					font-weight: 600;

					font-size: 18px;

					padding: 56px 0 18px;

					margin: 0;

					position: relative;

				}

				.pg-contrate1 .secao-planos ul li .mais-vendido{
					font-family: Open Sans;
					position: absolute;
					font-style: normal;
font-weight: bold;

					top: 0;

					left: 0;

					background-color: red;

					color: #fff;

					padding: 7px 14px;

					text-transform: uppercase;

					font-size: 14px;

					font-weight: 600;

				}

					.pg-contrate1 .secao-planos ul li .mais-vendido img{

						max-width: 24px;

						vertical-align: top;

						padding: 0 3px 0 0px;

					}

				.pg-contrate1 .secao-planos ul li .ul-info-plano{

					min-height: 224px;

				}

					.pg-contrate1 .secao-planos ul li .ul-info-plano .li-info-plano{

						margin: 0;

						width: 100%;

						max-width: 100%;

						padding: 0;

						display: list-item;

						list-style-type: disc;

						list-style-position: inside;

						list-style-image: url(../img/item.svg);

						color: #000;

						padding: 6px 0;

						background: none;

						box-shadow: none;

					}

					.pg-contrate1 .secao-planos ul li .ul-info-plano .li-info-plano::before{

						display: none;

					}

				.pg-contrate1 .secao-planos ul li .btnLink{

					position: relative;

					border-radius: 4px;

				}

					.pg-contrate1 .secao-planos ul li .btnLink a{

						font-size: 14px;

						padding: 6px 0;

						text-align: center;

						display: block;
						-webkit-transition: ease-in-out .4s;
						-moz-transition: ease-in-out .4s;
						-ms-transition: ease-in-out .4s;
						-o-transition: ease-in-out .4s;
						transition: ease-in-out .4s;
					}
						.pg-contrate1 .secao-planos ul li .btnLink a .phone{
							position: absolute;
							top: 50%;
							left: 50%;
							-webkit-transform: translate(-50%,-50%);
							-moz-transform: translate(-50%,-50%);
							-ms-transform: translate(-50%,-50%);
							-o-transform: translate(-50%,-50%);
							transform: translate(-50%,-50%);
							opacity: 0;
						}
						.pg-contrate1 .secao-planos ul li .btnLink a:hover .phone{
							opacity: 0;
							color: var(--verdePrincipal);
						}
						.pg-contrate1 .secao-planos ul li .btnLink a .textoBtnPlanos{
							margin: 0;
						}
						.pg-contrate1 .secao-planos ul li .btnLink a:hover .textoBtnPlanos{
							opacity: 1;
						}

	.pg-contrate1 .secao-formulario{

		

	}

		.pg-contrate1 .secao-formulario h3{

			

		}

		.pg-contrate1 .secao-formulario span{

			

		}



/* STYLE PÁGINA PLANOS 2 */

	.pg-contrate2 .secao-planos{

	    margin-bottom: 100px;

	}

		.pg-contrate2 .secao-planos h1{

			text-align: center;

		}

		.pg-contrate2 .secao-planos span{

			display: block;

			text-align: center;

			max-width: 100%;

		}

		.pg-contrate2 .secao-planos ul{

			width: 100%;

			max-width: 900px;

			margin: 60px auto 0;

		}

			.pg-contrate2 .secao-planos ul li{

				margin: 25px auto;

				background-image: url(../img/fundo-plano.png);

				background-repeat: no-repeat;

				background-position-x: right;

				background-position-y: top;

				padding: 42px 45px;

				position: relative;

				box-shadow: 0px 23px 73px rgba(0, 0, 0, 0.16);

				overflow: hidden;

				border-radius: 5px;

			}

				.pg-contrate2 .secao-planos ul li img{

					display: none;

				}

			.pg-contrate2 .secao-planos ul li::before{

				content: '';

				position: absolute;

				top: 0px;

				right: 0px;

				height: 100%;

				width: 100%;

				display: inline-block;

				background-color: #fff;

				-webkit-transform: skewY(23deg);

				-ms-transform: skewY(23deg);

				-o-transform: skewY(23deg);

				transform: skewY(23deg);

			}

				.pg-contrate2 .secao-planos ul li img{

					

				}

				.pg-contrate2 .secao-planos ul li h5{

					font-weight: 600;

					font-size: 18px;

					font-family: var(--ptSansCaption);

					margin: 0;

					padding: 28px 85px 10px 0px;

				}

				.pg-contrate2 .secao-planos ul li .mais-vendido{

					position: absolute;

					top: 0;

					right: 0;

					background-color: red;

					color: #fff;

					padding: 7px 14px;

					text-transform: uppercase;

					font-size: 12px;

					font-weight: 600;

				}

					.pg-contrate2 .secao-planos ul li .mais-vendido img{

						max-width: 20px;

						vertical-align: top;

						padding: 0 3px 0 0px;

					}

				.pg-contrate2 .secao-planos ul li .btnLink{

					border-radius: 4px;

				}

					.pg-contrate2 .secao-planos ul li .btnLink a{

						font-size: 14px;

						padding: 7px 0;

						display: block;

						text-align: center;

					}

				.pg-contrate2 .secao-planos ul li .ul-info-plano{

					max-width: 100%;

					width: 100%;

					padding: 0 0 0 30px;

					margin: 0;

				}

					.pg-contrate2 .secao-planos ul li .ul-info-plano .li-info-plano{

						display: list-item;

						list-style-position: inside;

						list-style-image: url(../img/item.svg);

						margin: 0;

						padding: 0px 0;

						background: none;

						box-shadow: none;

						line-height: 30px;

					}

					.pg-contrate2 .secao-planos ul li .ul-info-plano .li-info-plano::before{

						display: none;

					}

	.planos .prestadorServico{

		padding-top: 50px;

		padding-bottom: 78px;

	}

		.planos .prestadorServico h1{

			text-align: center;

			 color: #383838;

		}

		.planos .prestadorServico h1 ~p{

			text-align: center;	

			max-width: 100%;

		    margin-bottom: 30px;

		}

		.planos section.prestadorServico div.formulario{

		    margin: 0 auto 0;

		}

		.planos section.prestadorServico div.formulario input[type="submit"]{

		    margin: 0 auto 0;

		}

		.mobileBTN{

			display: none;

		}



		@media(max-width: 768px){

			section.prestadorServico div.formulario{

				padding: 10px 10px;

			}
			.planos section.prestadorServico div.formulario .col-xs-6{
				width: 100%;
			}
			section.prestadorServico div.formulario p{
				    padding: 10px 0 0;
			}
			section.prestadorServico div.formulario input#cep ,section.prestadorServico div.formulario input#cep{
				width: 100%!important;
			}
			section.prestadorServico div.formulario input[type="submit"]{
				max-width: 100%;
			}
			.pg-contrate1 .secao-planos h1{
				padding-top: 0px;
			}

			.pg-contrate1 .secao-planos ul li{

    			max-width: 435px;
				width: 95%;
    			text-align: left;
				padding: 184px 25px 65px;
    			margin: 52px 0 0;

			}

			.pg-contrate1 .secao-planos ul{

				text-align: center;

			}

			.pg-contrate1 .secao-planos h1{

				font-size: 40px;

				line-height: 40px;

			}

			.desktopBtn{

				display: none;

			}

			.mobileBTN{

				display: block;

				width: 90%;

				margin:29px auto 0;

			}

			.pg-contrate2 .secao-planos ul li::before {

			 display: none;

			}

			.pg-contrate2 .secao-planos ul li {

			     padding: 0 0 42px;

			     background: none;



			}

			.pg-contrate2 .secao-planos ul li .col-sm-4{

			     padding: 0 45px 0;



			}

			.pg-contrate2 .secao-planos ul li .mobileImg{

				display: block;

				width: 100%;

			}

			.pg-contrate2 .secao-planos h1{

				font-size: 35px;

				line-height: 35px;

			}

		}