.pg-servico{}
	.pg-servico h2,h3,h4,h5{
		font-family: var(--ptSansCaption);
		font-style: normal;
		font-weight: bold;
		font-size: var(--fontSizeTitulos);
		line-height: 40px;
		color: var(--pretoPrincipal);
	}
	.pg-servico ul{
	    padding-left: 50px;
	}
		.pg-servico ul li{
			font-family: var(--openSans);
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 35px;
			position: relative;
		}
			.pg-servico ul li:before{
				content: "";
				display: block;
				width: 7px;
				height: 7px;
				background: #FFA000;
				border-radius: 38px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				left: -20px;
			}
	.pg-servico  section.bannerDestaqueInternas{
		background: #fff!important;
		margin-bottom: 100px;
	}
	.pg-servico  section.bannerDestaqueInternas article .textoPagina{
		max-width: 100%!important;
	}
	.pg-servico  section.bannerDestaqueInternas article .textoPagina{
		max-width: 100%!important;
	}