/* STYLE PÁGINA SOBRE */

.pg-quemSomos{
	background: #F8F8F8;


}

	



	.pg-quemSomos section.quemSomos{

	    padding-top: 80px;
	    padding-bottom: 80px;

	}

	.pg-quemSomos section.bannerDestaqueInternas:before{
		display: block;
		content: "";
		background: url(../img/mosaico.png);
		position: absolute;
		left: 0;
		width: 297px;
		height: 430px;
		bottom: -52px;
		background-repeat: no-repeat;
	}
	.pg-quemSomos section.bannerDestaqueInternas:after{
		display: block;
		content: "";
		background: url(../img/mosaicob.png);
		position: absolute;
		right: 0;
		width: 293px;
		height: 438px;
		bottom: -178px;
		background-repeat: no-repeat;
	}
		.pg-quemSomos section.quemSomos{
			padding-top: 190px;
			background: #fff;
			margin-top: -80px;
		}
		.pg-quemSomos section.quemSomos article{
			width: 100%;
			max-width: 400px;
			display: block;
			padding: 184px 62px 50px;
			vertical-align: top;
			background-image: url(../img/quemSomos.png);
			background-repeat: no-repeat;
			background-size: 435px;
			background-position-x: center;
			background-position-y: top;
			margin: auto;
			position: relative;
			overflow: hidden;
			border-radius: 5px;
			box-shadow: 0px 23px 73px rgba(0, 0, 0, 0.16);
		}
		.pg-quemSomos section.quemSomos article:before{
			content: '';
			position: absolute;
			top: 152px;
			left: 0;
			display: inline-block;
			background-color: #fff;
			width: 100%;
			height: 100%;
			-webkit-transform: skewY(12deg);
			-moz-transform: skewY(12deg);
			-ms-transform: skewY(12deg);
			-o-transform: skewY(12deg);
			transform: skewY(12deg);
		}

			.pg-quemSomos section.quemSomos article h6{
				font-family: 'PT sans caption', sans-serif;
				color: var(--pretoPrincipal);
				font-weight: 600;
				font-size: 27px;
				padding: 24px 0 18px;
				margin: 0;
				position: relative;
			}	

			.pg-quemSomos section.quemSomos article p{
				position: relative;
			

			}	

		

		.pg-quemSomos section.quemSomos .valores{

			

		}	

			.pg-quemSomos section.quemSomos .valores ul{
				padding: 0;
				list-style: none;
			    padding-top: 10px;
			}	

				.pg-quemSomos section.quemSomos .valores ul li{

					min-height: 160px;

			        padding: 10px 20px 10px 58px;

					margin-bottom: 28px;
					position: relative

				}	


					.pg-quemSomos section.quemSomos .valores ul li h3{

					  	font-family:var(--ptSansCaption);

						font-style: normal;

						font-weight: bold;

						font-size: 20px;

						line-height: 40px;/* identical to box height, or 200% */

						color: #000;

						position: relative;

					}

						.pg-quemSomos section.quemSomos .valores ul li img{
							display: block;
							position: absolute;
							top: 35px;
							left: -15px;

						}


					.pg-quemSomos section.quemSomos .valores ul li p{

						font-family: var(--openSans);

						font-style: normal;

						font-weight: normal;

						 font-size:var(--fontSizePrincipal);

						line-height: 30px;/* or 214% */

						color: #000;

						mix-blend-mode: normal;

						opacity: 0.6;

					}

		.pg-quemSomos section.comoFUnciona{

			background: var(--pretoPrincipal);

			min-height: 580px;

			margin-top: 0;

			

		}	

			.pg-quemSomos section.comoFUnciona .containerLarge{

				position: relative;

			    padding-top: 100px;

			}

				.pg-quemSomos section.comoFUnciona figure{

					position: absolute;

					top: -45%;

				}

					.pg-quemSomos section.comoFUnciona figure img{
						
					    max-width: 500px;

					}

					.pg-quemSomos section.comoFUnciona figure figcaption{

						

					}	

				.pg-quemSomos section.comoFUnciona .areaTexto{

					max-width: 574px;

				    padding-top: 40px;

				}

					.pg-quemSomos section.comoFUnciona .areaTexto h6{

						color: #fff;

						font-size: 42px;

					    margin-bottom: 30px;

					}

					.pg-quemSomos section.comoFUnciona .areaTexto p{

						color: #fff;

						font-size: 18px;

					    margin-bottom: 60px;

					}

				.pg-quemSomos section.comoFUnciona .areaVideo{

					display: block;

					width:100%;

					max-width: 569px;

					height: 386px;

					overflow: hidden;

					box-shadow: 0px 20px 58px rgba(0, 0, 0, 0.100989);

					position: relative;

					margin: auto;

				}
					.pg-quemSomos section.comoFUnciona .areaVideo>img{
						width: 109%;
						display: block;
						position: absolute;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						-webkit-transform: translate(-50%, -50%);
						-moz-transform: translate(-50%, -50%);
						-o-transform: translate(-50%, -50%);
					}

					.pg-quemSomos section.comoFUnciona .areaVideo button{

						background: transparent;

						border: none;

						position: absolute;

						top: 50%;

						left: 50%;

						transform: translate(-50%, -50%);

						-webkit-transform:translate(-50%, -50%);

						-moz-transform:translate(-50%, -50%);

						-o-transform:translate(-50%, -50%);	

						z-index: 9;

						outline: none;

					}

						.pg-quemSomos section.comoFUnciona .areaVideo button img{



						}

					.pg-quemSomos section.comoFUnciona .areaVideo video{

						top: 0;

						left: 0;

						width: 100%;

						height: 100%;

						object-fit: cover;
						background-size: cover!important;
						background-position: center!important;


					}
			.pg-quemSomos section.comoFUnciona .btnLink{

			}
				.pg-quemSomos section.comoFUnciona .btnLink a {
					padding: 13px 30px;
					font-size: 16px;
					width: 284px;
					height: 57px;
					text-align: center;
					padding-top: 14px;
				}
				.pg-quemSomos section.comoFUnciona .btnLink a::after{
					-webkit-transform: translate(-50%,-50%) skewX(-22deg);
					-moz-transform: translate(-50%,-50%) skewX(-22deg);
					-ms-transform: translate(-50%,-50%) skewX(-22deg);
					-o-transform: translate(-50%,-50%) skewX(-22deg);
					transform: translate(-50%,-50%) skewX(-22deg);
				}
				.pg-quemSomos section.comoFUnciona .btnLink a:hover::after{
					/* width: 88%; */
				}
				.pg-quemSomos section.comoFUnciona .btnLink a:hover{
					color: var(--laranjaPrincipal);
				}
				
				


@media(max-width: 991px){
	.pg-quemSomos section.bannerDestaqueInternas:after{
		display: none;
	}
	.pg-quemSomos section.bannerDestaqueInternas:before{
		display: none;
	}
	.pg-quemSomos section.comoFUnciona figure img{

		max-width: 360px;

		display: block;

		width: 100%;

	}

	.pg-quemSomos section.comoFUnciona .containerLarge{

		padding-top: 0px;

	}

	.pg-quemSomos section.comoFUnciona .areaTexto h6{

		font-size: 40px;

	}

}



@media(max-width: 768px){
	.pg-quemSomos section.quemSomos .valores ul li img{
		top: initial;
		left: initial;
		margin: 0 auto;
		position: initial;
	}
	.pg-quemSomos section.quemSomos .valores ul {
	    padding-top: 50px;
	}
	.pg-quemSomos section.quemSomos .valores ul li {
	    padding: 10px 20px 10px 10px;
	    text-align: center;
	}
	.pg section.bannerDestaqueInternas{
		padding-top: 95px;
	}
	.pg section.bannerDestaqueInternas article h6{

		font-size: 30px;

		line-height: 30px;

	}
	.pg-quemSomos section.quemSomos article{
		padding: 184px 20px 12px;
	}

	.pg-quemSomos section.comoFUnciona figure {

	    position: inherit;

	    top: 0;

	    text-align: center;

	}

	.pg-quemSomos section.comoFUnciona .areaTexto {

		text-align: center;

		max-width: 100%;

	}

	.pg-quemSomos section.comoFUnciona .areaVideo {

	    margin: 50px auto;

	}

	.pg-quemSomos section.comoFUnciona .areaTexto h6 {

	    font-size: 35px;

	}

}



